menu "Talky Toaster Hardware"

    choice BOARD_VERSION
        prompt "Circuit board version"
        default BREADBOARD_V1_0
        help
            Select a hardware definition to build the firmware for
    
    config BREADBOARD_V1_0
        bool "Breadboard v1.0"
    
    endchoice
    
 endmenu
    